*{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: #ddd;
  transition: 0.5s ease-in;
  padding: 0 10px;

.wrapper{
  width: 450px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
  padding: 2rem 2rem;
  border-radius: .4rem;
  background: #fff;
  box-shadow: 0 .5rem 2rem rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .border{
    width: 20px;
    height: 2px;
    background: #222;
    margin: 1rem 0;
  }
  .text{
    font-size: 1rem;
    color: #333;
    font-style: italic;
    line-height: 1.5;
    font-weight: 600;
  }
  #author{
    font-size: .8rem;
    text-transform: uppercase;
    font-style: normal;
    padding-bottom: 1.5rem;
  }
  .buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    .btn{
      outline: none;
      border: none;
      padding: 1rem 2rem;
      background: #015508;
      font-size: 1rem;
      font-weight: 600;
      border-radius: .4rem;
      color: #ddd;
      transition: .5s ease-in;
      cursor: pointer;

      &.btn:hover{
        background: rgb(93, 179, 93);
      }
    }
  
    .share {
      .sci{
        background: #1048ff;
        color: #ddd;
        outline: none;
        border: none;
        padding: 1rem 1rem;
        font-size: 1rem;
        font-weight: 600;
        border-radius: .4rem;
        color: #ddd;
        cursor: pointer;
        transition: .5s ease-in;
        text-align: center;
      }
      .twitter{
        margin-left: 1rem;
        background: #03b7f3;
      }
    }
  }
}
}

@media screen and (max-width: 461px) {
  .buttons{
    justify-content: center;
    flex-direction: column-reverse;
  }
  .twitter{
    margin-top: 1rem;
    background: #03b7f3;
  }
}